html,
body,
#root {
  top: 0;
  margin: 0;
  left: 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  background: transparent;
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('./fonts/InclusiveSans-Regular.ttf') format('truetype');
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
